<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../javascript/login.js"></script>
        <meta name="description" content="this is the html page based on landing page desktop version">
        <title>Trackgenix</title>
    </head>
    <body>
        <aside class="side-box">
            <div class="search">
                <input type="search" placeholder="Search">
            </div>
            <div class="links-side">
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/sign-up.html">Sign up</a></li>
                    <li><a href="../views/login.html">Log in</a></li>
                </ul>
            </div>
            <div class="contact-side">
                <p id="get-in-touch">Get in touch</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <address>
                    <div class="border-side"><img src="../assets/house.png" alt=""> 1245 Sffeinvrjrs, Bnaudasd</div>
                    <div class="border-side"><img src="../assets/icon-email.png" alt=""> sikfifkgnmss@gmail.com</div>
                    <div><img src="../assets/phone.png" alt=""> 958585412225</div>
                </address>
            </div>
        </aside>
        <header>
            <div class="header-container">
                <img src="../assets/Boton-menu.png" alt="">
                    <div class="h1-container">
                        <h1>Trackgenix</h1>
                    </div>
            </div>
        </header>
        <main>
            <section>
                <form class="login-container">
                    <div class="login-sub-container">
                        <h2>Log In</h2>
                        <div class="input-container">
                            <p>Email</p><img src="../assets/login-email.png" alt=""><input type="text" class="input-name-email" id="email">
                        </div>
                        <div class="feedback-div" id="email-feedback"></div>
                        <div class="input-container">
                            <p> Password</p><img src="../assets/login-lock.png" alt=""><input type="text" class="input-name-email" id="password">
                        </div>
                        <div class="feedback-div" id="password-feedback"></div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="remenber-checkbox">
                            <p>Remember me</p>
                        </div>
                        <a href="../views/sign-up.html">Not registered yet?</a>
                        <input type="submit" value="Continue" class="input-continue" id="continue-botton">
                    </div>
                </form>
            </section>
            <footer>
                <div class="footer-container">
                    <a href=""><img src="../assets/whitefacebook.png" alt="facebook-icon"></a>
                    <a href=""><img src="../assets/whitelinkedin.png" alt="linkedin-icon"></a>
                    <a href=""><img src="../assets/whitetwitter.png" alt="twitter-icon"></a>
                    <a href=""><img src="../assets/whiteinstagram.png" alt="instagram-icon"></a>
                    <a href=""><img src="../assets/whitegithub.png" alt="github-icon"></a>
                </div>
                <p id="montevideo">Montevideo, Uruguay</p>
                <p id="copyright">Copyright © 2022  GigaTech Software Solutions SA</p>
            </footer>
        </main>
    </body>
</html>