header {
display: flex;
font-size: 40px;
margin: 5vh;
padding-bottom: 2%;
border-bottom: 4px solid #49A37B;
align-items: center;
}

.flexheader {
display: flex;
align-content: flex-start;

}

.container1 {
align-self: center;

}

.flexheader >img {
margin-right: 7%;
}

/* 
@media (min-width:1024px) {
    .flexheader{
    margin-left: 100%;
    }
    } */